<!DOCTYPE html>
<html lang="fr">
<head>
    <!-- BASE -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IPAM - {% block styles %}{{ title }}{% endblock %}</title>
    <meta name="author" content="Takeus">
    <meta name="robots" content="noindex, nofollow">
    <!-- LINKS -->
    <link rel="icon" type="image/png" href="{{ url_for('static',filename='img/logo.png') }}" />
    <link rel="stylesheet" href="{{ url_for('static',filename='css/custom.css') }}"/>
    {% if current_user.ui_theme == 'zephyr' %}
    <link rel="stylesheet" href="{{ url_for('static',filename='css/Bootstrap/zephyr.css') }}"/>
    {% elif current_user.ui_theme == 'spacelab' %}
    <link rel="stylesheet" href="{{ url_for('static',filename='css/Bootstrap/spacelab.css') }}"/>
    {% elif current_user.ui_theme == 'lumen' %}
    <link rel="stylesheet" href="{{ url_for('static',filename='css/Bootstrap/lumen.css') }}"/>
    {% elif current_user.ui_theme == 'simplex' %}
    <link rel="stylesheet" href="{{ url_for('static',filename='css/Bootstrap/simplex.css') }}"/>
    {% elif current_user.ui_theme == 'cerulean' %}
    <link rel="stylesheet" href="{{ url_for('static',filename='css/Bootstrap/cerulean.css') }}"/>
    {% elif current_user.ui_theme == 'brite' %}
    <link rel="stylesheet" href="{{ url_for('static',filename='css/Bootstrap/brite.css') }}"/>
    {% elif current_user.ui_theme == 'materia' %}
    <link rel="stylesheet" href="{{ url_for('static',filename='css/Bootstrap/materia.css') }}"/>
    {% elif current_user.ui_theme == 'litera' %}
    <link rel="stylesheet" href="{{ url_for('static',filename='css/Bootstrap/litera.css') }}"/>
    {% else %}
    <link rel="stylesheet" href="{{ url_for('static',filename='css/bootstrap.min.css') }}"/>
    {% endif %}
    <link rel="stylesheet" href="{{ url_for('static',filename='css/bootstrap-icons.min.css') }}"/>
</head>
<body>
    {% block content %}{% endblock %}
    {% include 'panel/_footer.html' %}
    <!-- JAVASCRIPT -->
    <script src="{{ url_for('static',filename='js/htmx.min.js') }}"></script>
    <script src="{{ url_for('static',filename='js/bootstrap.bundle.min.js') }}"></script>
</body>
</html>