{% for allocation in allocations %}
<tr>
    <td><b>{{allocation.ipv4}}</b></td>
    <td>{{allocation.hostname}}</td>
    <td>{{allocation.description}}</td>
    <td>
        {% if Inventory.query.filter_by(id=allocation.device_id).first() %}
        <button 
            hx-get="{{ url_for('inventory.item_view_modal',item_id=allocation.device_id) }}" 
            hx-trigger="click" 
            hx-target="#modal-view" 
            data-bs-toggle="modal" 
            data-bs-target="#modal-view" 
            class="btn btn-sm btn-outline-primary"
            style="padding-top:1px;padding-bottom:1px"
        > Details
        </button>
        {% else %}
        N/A
        {% endif %}
    </td>
    <td>{{allocation.is_dhcp}}</td>
    <td>{{allocation.is_gateway}}</td>
    <td>{{allocation.is_decom}}</td>
    {% if current_user.is_reado == False %}
    <td>
        {% if allocation.is_used %}
        <button 
            hx-get="{{ url_for('network.allocation_edit_modal',net_id=network.id,ipv4=allocation.ipv4) }}?page={{active_page}}" 
            hx-trigger="click" 
            hx-target="#modal-edit" 
            data-bs-toggle="modal" 
            data-bs-target="#modal-edit" 
            class="btn btn-sm btn-outline-info"
            style="padding-top:1px;padding-bottom:1px"
            > Edit
        </button>
        {% if allocation.is_decom %}
        <a href="{{ url_for('network.allocation_decom',action=2,net_id=network.id,ipv4=allocation.ipv4) }}?page={{active_page}}" class="btn btn-sm btn-outline-primary" style="padding-top:1px;padding-bottom:1px">Undecom</a>
        {% else %}
        <a href="{{ url_for('network.allocation_decom',action=1,net_id=network.id,ipv4=allocation.ipv4) }}?page={{active_page}}" class="btn btn-sm btn-outline-warning" style="padding-top:1px;padding-bottom:1px">Decom</a>
        {% endif %}
        <button 
            hx-get="{{ url_for('network.allocation_del_modal',net_id=network.id,ipv4=allocation.ipv4) }}?page={{active_page}}" 
            hx-trigger="click" 
            hx-target="#modal-del" 
            data-bs-toggle="modal" 
            data-bs-target="#modal-del" 
            class="btn btn-sm btn-outline-danger"
            style="padding-top:1px;padding-bottom:1px"
            > Unallocate
        </button>
        {% else %}
        <button 
            hx-get="{{ url_for('network.allocation_edit_modal',net_id=network.id,ipv4=allocation.ipv4) }}?page={{active_page}}" 
            hx-trigger="click" 
            hx-target="#modal-edit" 
            data-bs-toggle="modal" 
            data-bs-target="#modal-edit" 
            class="btn btn-sm btn-outline-success"
            style="padding-top:1px;padding-bottom:1px"
            > Allocate
        </button>
        {% endif %}
    </td>
    {% endif %}
</tr>
{% endfor %}
